.sobre{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    border: 1px solid;
    width: 90%;
    height: 400px;
}

.descricao{
    border: 1px solid;
    width: 65%;
    height: 300px;
    margin: 40px auto auto 40px;
}
.descricao h1{
    text-align: center;
}

.imagePerfil{
    border: 1px solid;

    width: 250px;
    height: 250px;

    margin: 40px auto;

    border-radius: 50%;
}