#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
}

#header h1 {
    color: #00d8ff; 
    font-size: 24px;
    font-weight: bold;
}

#header nav a {
    color: #00ff00; 
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

#header nav a:hover {
    color: #00d8ff; 
}
