#projects {
    margin-bottom: 40px;
}

#projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
}

.project-card h3 {
    font-size: 24px;
    margin-top: 10px;
}

.project-card p {
    margin-top: 10px;
    font-size: 16px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #34495E;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}
