#technologies {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    color: #ccc;
    text-align: center;
}

#technologies h2 {
    color: #00d8ff;
    font-size: 28px;
    margin-bottom: 20px;
}

.technology-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.technology-item {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    color: #00ff00; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.technology-item:hover {
    background-color: #00d8ff; 
    color: #1c1c1c;
}
