*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    font-size: 62.5%;




}
body{
    background-image: url(../../assets/image/backgroundimage.jpg);
}

.about-me{
    display: flex;
    justify-content: space-around;

    margin: 8.5rem auto;
    gap: 2.5rem;
   
}

.courses, .self-description {
    border: 1px solid green;
    width: 80%;
}
.card-course{
   max-width: 540px;
   max-height: 600px;
}
